{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ name }} {% endblock %}</h1>
    <table class="table">
        <thead>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Clave</td>
        </thead>
        <tbody>
            <th>{{ user['name'] }}</th>
            <th>{{ user['surname'] }}</th>
            <th>{{ user['password'] }}</th>
        </tbody>
    </table>
{% endblock %}

{% block additionaljs %}
<script type="text/javascript">

</script>
{% endblock %}